@import '../../styles/variables.module.scss';

.button {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }

    &.button-main {
        background-color: $yellow;
        color: black;
    }

    &.normal {
        padding: 10px 15px;
        border-radius: 20px;
    }

    &.xl {
        text-align: center;
        width: 350px;
        max-width: 100%;
        font-size: 2em;
        padding: 20px 30px;
        border-radius: 50px;
    }
}
